<div class="container d-flex flex-column justify-content-center" style='height: 100vh; background-color: #CFCFEA'>
    <a href='/' class='nav-link' style='align-self:flex-end'>Cargar productos</a>
    <h1 style='text-align:center; margin:30px'>Vista de productos</h1>
    {{#if showList}}
    <table class="table">
        <tr>
            <th>Nombre del producto</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        {{#each list}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td><img src={{this.thumbnail}} alt={{this.title}} width='100px'></td>
            </tr>
        {{/each}}
    </table>
    {{else}}
    <div style='padding: 20px; border:solid 1px black; background-color: #a8a8db;text-align:center'>
        <h2>No hay productos</h2>
    </div>
    {{/if}}
</div>